<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <typeAliases>
    <typeAlias type="com.tomorrowHome.community.dto.CommunityBoardDTO" alias="CommunityBoardDTO" />
    <typeAlias type="com.tomorrowHome.community.dto.CommunityBoardImageDTO" alias="CommunityBoardImageDTO" />
    <typeAlias type="com.tomorrowHome.store.product.dto.ProductDTO" alias="ProductDTO" />
    <typeAlias type="com.tomorrowHome.store.product.dto.ProductImageDTO" alias="ProductImageDTO" />
  </typeAliases>
</configuration>

